<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TaskMaster</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ADLaM+Display&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alkatra&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allison&amp;display=swap">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="assets/css/Font%20Awesome%205%20Brands.css">
    <link rel="stylesheet" href="assets/css/Font%20Awesome%205%20Free.css">
    <!-- Material Icons CSS -->
    <link rel="stylesheet" href="assets/css/Material%20Icons.css">
    <!-- Additional CSS -->
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="assets/css/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="assets/css/css/Contact-Details-icons.css">
    <link rel="stylesheet" href="assets/css/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Duplicate CSS files (remove duplicates) -->
    <link rel="stylesheet" href="assets/css/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/css/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/css/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="assets/css/css/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="assets/css/css/css/Contact-Details-icons.css">
    <link rel="stylesheet" href="assets/css/css/css/styles.css">
    <link rel="stylesheet" href="assets/css/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/fonts/material-icons.min.css">
</head>

<body style="opacity:1;background:url(&quot;assets/img/bckgr2.jpg&quot;) no-repeat;background-size:cover;">
    <!-- Header with App Name -->
    <div style="padding-top:11px;">
        <p class="fs-5"><span style="color:rgb(241, 167, 76);">TaskMaster App</span></p>
    </div>
    
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-md bg-body" style="color:rgb(142,142,43);height:53px;">
        <div class="container-fluid">
            <a class="navbar-brand text-end" href="loginpage.html" style="color:rgb(241,158,56);font-size:20px;margin-left:50px;">
                <strong>Task</strong><span style="color:rgb(142, 142, 61);">Master</span>
            </a>
            <div class="collapse navbar-collapse d-xl-flex d-xxl-flex ms-0 ps-0" id="navcol-2">
                <ul class="navbar-nav" style="margin-left:-14px;">
                    <li class="nav-item" id="homeicon">
                        <a class="nav-link active" href="index.html" style="color:#f1a74c;">
                            <svg fill="none" height="1em" style="font-size:23px;width:30px;color:rgb(142,142,89);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 8.77217L14.0208 1.79299C12.8492 0.621414 10.9497 0.621413 9.77817 1.79299L3 8.57116V23.0858H10V17.0858C10 15.9812 10.8954 15.0858 12 15.0858C13.1046 15.0858 14 15.9812 14 17.0858V23.0858H21V8.77217ZM11.1924 3.2072L5 9.39959V21.0858H8V17.0858C8 14.8767 9.79086 13.0858 12 13.0858C14.2091 13.0858 16 14.8767 16 17.0858V21.0858H19V9.6006L12.6066 3.2072C12.2161 2.81668 11.5829 2.81668 11.1924 3.2072Z" fill="currentColor" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Main Container -->
    <div class="container text-center d-flex d-xl-flex justify-content-xl-start justify-content-xxl-center" id="contmargin" style="background: rgba(255,255,255,0.19);height: 500px;border-radius: 73px;width: 700px;transform: translate(-4px) scale(1);backdrop-filter: opacity(1);-webkit-backdrop-filter: opacity(1);box-shadow: 0px 0px 0px 0px rgb(139,139,139);margin-top: 35px;padding-top: 0px;margin-bottom: 36px;">
        <div class="row d-flex d-xl-flex justify-content-xl-center justify-content-xxl-center align-items-xxl-center" style="transform:scale(0.86) skew(0deg);border-radius:10px;background:rgba(255,255,255,0);height:339px;width:1035px;padding-bottom:0px;margin-bottom:43px;margin-top:75px;padding-top:0px;text-align:center;padding-right:0px;">
            <!-- Sign In Form Container -->
            <div class="col-md-6 col-xl-6 col-xxl-9" style="padding:0px;width:75%;padding-left:0px;margin-left:0px;margin-right:0 px;">
                <div class="d-flex justify-content-xl-center" style="padding-bottom:0px;padding-top:0px;margin-top:-107px;">
                    <img src="assets/img/logo.gif" width="176" height="174" alt="TaskMaster Logo">
                </div>
                <div class="text-center">
                    <p class="text-center d-flex justify-content-xl-center" style="text-align:left;font-size:14px;width:586.5px;margin-left:-111px;transform:translate(80px);"><strong>Sign In</strong></p>
                </div>
                <div class="d-flex" style="text-align:center;">
                    <div>
                        <!-- Login Form -->
                        <form action="/loginpage.html" method="POST">
                            <div class="mt-auto" style="border-radius:25px;padding:24px;background:#f1f1f1;width:586.5px;transform:translate(135px);text-align:center;padding-left:21px;margin-bottom:-21px;margin-top:21px;padding-right:10px;margin-left:-164px;">
                                <p class="fs-4 text-start d-xl-flex"><span style="color:rgb(241, 167, 76);">User </span><span style="color:rgb(142, 142, 61);">Login</span></p>
                                <!-- Username Input -->
                                <div class="d-xl-flex align-items-xl-center" style="--bs-body-font-size:0rem;">
                                    <label class="form-label" for="username">
                                        <i class="fas fa-user-circle" style="font-size:25px;padding:3px;padding-bottom:0px;position:static;transform:scale(0.96);color:#ff9900;margin:0;margin-bottom:0px;padding-top:0px;border-style:none;opacity:0.89;--bs-body-font-size:0rem;"></i>
                                    </label>
                                    <input class="form-control form-control border rounded-pill form-control" type="text" id="username" name="username" placeholder="User Name" required="" style="border-radius:13;background:#f9e0c0;border-style:none;border-top-left-radius:0;margin-left:13px;width:415px;margin-bottom:5px;padding-bottom:1px;padding-top:2px;opacity:1;height:27px;color:var(--bs-emphasis-color);margin-right:0px;padding-left:15px;font-style:italic;--bs-body-font-size:0rem;font-size:14px;">
                                </div>
                                <!-- Password Input -->
                                <div class="d-xl-flex" style="margin:2px;--bs-body-font-size:0rem;">
                                    <label class="form-label" for="password">
                                        <i class="fas fa-lock" style="font-size:25px;padding:3px;padding-bottom:0px;position:static;transform:scale(0.96);color:#ff9900;margin:0;margin-bottom:0px;padding-top:0px;opacity:0.89;border-style:none;border-color:rgba(142,142,61,0);"></i>
                                    </label>
                                    <input class="form-control form-control border rounded-pill form-control" type="password" id="password" name="password" placeholder="Password" required="" style="border-radius:13;background:#f9e0c0;border-style:none;border-top-left-radius:0;margin-left:13px;width:415px;margin-bottom:5px;padding-bottom:1px;padding-top:2px;opacity:1;height:27px;color:var(--bs-emphasis-color);padding-left:15px;font-style:italic;font-size:14px;">
                                </div>
                                <!-- Submit Button and Signup Link -->
                                <div class="text-center d-lg-flex d-xl-flex align-items-xxl-center" style="margin:2px;margin-top:21px;margin-left:2px;height:46px;">
                                    <button class="btn btn-primary" type="submit" style="background:rgb(142,142,89);transform:translate(37px);color:rgb(241,167,76);">Login</button>
                                    <a href="signup.html">
                                        <p class="text-start d-lg-flex justify-content-lg-center" style="margin:26px 0px 16px 33px;margin-left:37px;font-size:12px;width:346px;margin-top:15px;">
                                            <span style="color:rgb(142, 142, 73);">You want to create an account? Click here</span>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- JavaScript files -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
